.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(73, 73, 209));
}
.calculator {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(183, 214, 248);
}
form input {
  border:none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(rgb(153, 161, 202), green, blue);
  margin: 2px;
  border-radius: 10px;
  color: rgb(142, 175, 196);
  font-weight: bolder;
  cursor: pointer;
}
form input[typr="button"]:hover {
  background-color: rgb(137, 22, 245);
}
.form .display  {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}
form .display input {
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: rgb(95, 89, 89);
}